body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #999999!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-style{
  width: 18rem;
  padding: 10px;
}

.card-img{
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.panel-style {
  background-color: beige!important; 
  color: brown;
}

.form-style {
  background-color: snow;
  padding: 20px;
  border-radius: 20px;
}

.event-ul {
  list-style:none;
}

.event-li-p {
  flex: 1 1 auto;
  margin: 0;
}

.status-on {
  color: #32af00;
  border-color: #32af00
}

.status-off {
  color: #ff1f1f;
  border-color: #ff1f1f;
}

.status-hold {
  color: #b8b894;
  border-color: #b8b894;
}

.status-event{
  background-color: rgba(0,0,0,0.2);
  display: inline-block !important;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.div-event{
  background-color: #737373;
  border-radius: 25px;
  padding: 1%;
}

.small-color{
  color: darkgray;
}

.tableseat {
  border-collapse: inherit;
  border-spacing: 3px;
}

.tableseat td {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px rgb(0 0 0 / 80%), 1px 1px 3px rgb(0 0 0 / 80%);
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tableseat .label-seat:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.seat-img-check {
  background-repeat: no-repeat;
  width: 30px;
  height: 28px;
}

.label-seat {
  border-radius: 50%;
  background-color: #ff99bb;
  width: 30px;
  height: 28px;
}

.seat-check{
  display: none;
}

.scrollbar{
  overflow: auto;
}

.bg-black {
  background-color: black;
}

.search_user{
  padding: 2%;
  margin: auto;
  width: 40%;
}